<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dilshoda</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="loader">
        <span>D</span>
        <span>I</span>
        <span>L</span>
        <span>S</span>
        <span>H</span>
        <span>O</span>
        <span>D</span>
        <span>A</span>
        <span>❤️</span>
    </div>
</body>
</html>